.boite {
    background-color: white;
    height: 120rem;
}

.champ {
    margin-top: 2rem;
}

.butvalid {
    display: block;
    background-color: #e6e6e6;
    border-color: #669999;
    margin-left: 12.3rem;
    margin-top: 2rem;
    padding-left: 3.175rem;
    padding-right: 3.175rem;
    border-radius: 3px;
}

input {
    border-color: #a6a6a6;
    border-style: solid;
}

.tailletab {
    width: auto;
    margin-left: 3rem;
    margin-right: 10%;
    height: auto;
    background-color: grey;
    border: 2px solid black;
}

table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

p {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.champ {
    margin-top: 2rem;
    margin-left: 3rem;
}

.champ2 {
    margin-left: 4.5rem;
}

.champ3 {
    margin-left: 2rem;
}

tbody tr:nth-child(odd) {
    background-color: #dadbe4;

}

tbody tr:nth-child(even) {
    background-color: #999399;
}