body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    text-align: center;
}

div {
    width: 30%;
    margin: auto;
}

h2 {
    text-align: center;
}

input{
    font-size: 100%;
    width: 90%;
    padding: 3%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f0eff0;
    border-radius: 5px;
}

input[type=submit]{ 
    box-shadow: 2px 2px 2px rgb(201, 201, 200);   
    width:97%;
    margin-top: 4%;
    border: none;
    background-color: #04AA6D;
    color:white;
    border-radius: 5px;
}