* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header {
    grid-area: 1 / 1 / 3 / 13;
    background-color: #29274c;
    color: white;
}

h1 {
    margin-left: 3%;
    color:  #d295bf;
}

span {
    color: white;
}

nav {
    grid-area: 3 / 1 / 5 / 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #7e52a0;
}

.accueil {
    background-color: #d295bf;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

.page1, .page2, .page3 {
    background-color: #29274c;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

main {
    grid-area: 5 / 1 / 10 / 13;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

aside {
    background-color: #d295bf;
    padding-left: 5%;
    color: white;
    font-size: 80%;
}

.aside1 {
    grid-area: 1 / 1 / 2 / 3;
    border-right: 5px solid #7e52a0;
}

section {
    grid-area: 1 / 3 / 2 / 15;
    padding-left: 1%;
    font-size: 80%;
}

.aside2 {
    grid-area: 1 / 15 / 2 / 17 ;
    border-left: 5px solid #7e52a0;
}

footer {
    grid-area: 10 / 1 / 13 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 5%;
    background-color: #012a36;
    color: #d295bf;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 1 / 5 / 2 / 9; }
.div3 { grid-area: 1 / 9 / 2 / 13; }
.div4 { grid-area: 2 / 1 / 3 / 5; }
.div5 { grid-area: 2 / 5 / 3 / 9; }
.div6 { grid-area: 2 / 9 / 3 / 13; }
.div7 { grid-area: 3 / 1 / 4 / 5; }
.div8 { grid-area: 3 / 5 / 4 / 9; }
.div9 { grid-area: 3 / 9 / 4 / 13; }